tamanio_menu = 50px

#cont_mapa
	height 100vh -100px

#contenedor_principal
	border 1px solid black
	height 100vh -100px
	margin-top tamanio_menu
	padding 0
	min-height 100%

#menu_lateral
	margin-top tamanio_menu
	padding 15px
	width 200px

#menu_superior
	position fixed
	right 0
	left 0
	top 0
	height tamanio_menu
	z-index 1030
	
	a
		height 50px
	
	div
		margin-right 10px